@import "compass/css3";

$blue-primary:		#486790;
$blue-secondary:	#334c70;
$blue-tertiary:		#19293f;

$green-primary:		#c5dc63;
$green-secondary:	#a1b749;

$gray-light: 		#ffffff;
$gray-dark: 		#ccc;

html, body { min-height: 100%; }
html {
	background-color: $gray-dark;
	background-repeat: repeat-x;
	
	@include background-image(linear-gradient(top, $gray-light, $gray-dark));
}
body {
	@include background(
		linear-gradient(
			left top,
			rgba(0,0,0,0) 0%, 
			rgba(0,0,0,0) 45%, 
			$gray-dark 45%, 
			$gray-dark 55%,
			rgba(0,0,0,0) 55%
		)
	);
	background-size: 5px 5px;

	font-size: 36px;
}

.blue {
	color: $blue-primary;
}

.green { color: $green-secondary; }

h1, h2, h3, h4, h5 {
	font-family: Lora, serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1;
	margin: 0;
}

.chunky {
	font-family: "Lilita One", sans-serif;
	font-weight: normal;
	font-style: normal;
}

.step {
	width: 900px;
	padding: 40px;
}

.step {
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.step:not(.active) {
    opacity: 0.3;
}